* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #0065ff;
    --dark:#091e42;
    --pure:#ffffff;
    --secondary:#8993A4;
    --lightGreeny:#e6fcff;
    --light:#eae6ff;
}

.padding {
    padding: 0 10rem;
}


#close,
#bars {
    display: none;
}

.wrapper__2 {
    display: none;
}


/* Header Section */

#header {
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: var(--pure) ;
    display: flex;
    justify-content: center;
    transition: .3s ease;
    z-index: 100;
}

#header .b__box.padding {
    width: 100%;
    padding: 0 14rem;
}


#header:hover {
    box-shadow: rgba(60, 60, 199, 0.45) 0px 25px 20px -20px;
}

header {
    width: 100%;
    max-width: 1080px;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em 0;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header .wrapper h2 {
    margin-right: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .wrapper h2 a {
    color: var(--dark);
}

header .wrapper #info {
    width: 500px;
    max-width: 500px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header .wrapper #info li {
    position: relative;
    margin-right: 1rem;
    color: var(--dark);
    cursor: pointer;
    transition: all .5s ease;
    font-size: 1rem;
}

header .wrapper #info li:hover {
    color: var(--primary);
}
header .wrapper #info li a{
    color: var(--dark);
    font-size: 1rem;
}

header .wrapper #info li a:hover {
    color: var(--primary);
}

header .wrapper #info li:hover:before {
    position: absolute;
    content: "";
    border-bottom: 4px solid var(--primary);
    height: 40px;
    color: #0065ff;
    width: 100%;  
    z-index: 1;  
}

#login {
    display: flex;
    justify-content: space-between;
    width: 200px;
    min-width: 150px;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#login li {
    cursor: pointer;
}

#login li a {
    color: var(--dark);
}





/* Hero Section */

#hero {
    background-color: var(--light);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 14rem;
}

#hero .container {
    max-width: 1080px;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
}

#hero .container .left {
    width: 60%;
    padding: 7em 0 ;
}

#hero .container .left h1 {
    font-size: 2.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
}

#hero .container .left p {
    font-size: 1.3rem;
    margin-top: .3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
}

#hero .container .left .email input {
    width: 65%;
    margin-top: 3rem;
    border: none;
    padding: 1em 1em;
    font-size: 1rem;
    margin-right: 1.5rem;
}

button {
    padding: 1.2em 1em;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    background-color: var(--dark);
}

button a {
    color: var(--pure);
    font-size: 1rem;
}

#hero .container .left .video__div {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: var(--primary);
}

#hero .container .left .video__div a {
    text-decoration: underline;
    color: var(--primary);
}

#hero .container .left .video__div a:hover {
    color: #0065ff;
}

#hero .container .left .video__div i {
    cursor: pointer;
    margin-left: .2rem;
}


#hero .container .right {
    width: 50%;
    padding: 5em 0 ;
}

#hero .container .right .hero__image {
    width: 70%;
}

#hero .container .right .hero__image img {
    width: 100%;
    height: auto;
    margin-left: 9rem;
}




/* Discover Section */

#discover {
    padding: 0 14rem;
    background-color: var(--pure);
    display: flex;
    justify-content: center;
    align-items: center;
}

#discover .wrapper {
    max-width: 1080px;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

#discover .wrapper .box {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#discover .wrapper .box .icon {
    width: 80%;
    margin-right: 2rem;
}

#discover .wrapper .box .icon img {
    width: 100%;
}


#discover .wrapper .box .details span {
    color: var(--dark);
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-right: 1rem;
}

#discover .wrapper .box .details p {
    font-size: 1rem;
    margin-top: .8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
}

#discover .wrapper .box .details button {
    margin-top: 1.5rem;
}




/* Call To Action Section */

#call_to_action {
    padding: 0 14rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#call_to_action .container {
    width: 100%;
    max-width: 1080px;
    padding-top: 5rem;
}

#call_to_action .container h2 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
    font-weight: 600;
    margin-bottom: 1rem;
}

#call_to_action .container p {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--dark);
    margin-bottom: .5rem;
}

#call_to_action .container button {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#call_to_action .container .big__image {
    width: 100%;
}

#call_to_action .container .big__image img {
    width: 100%;
}




/* Brands Section */

#brand {
    padding: 0 14rem;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

#brand .container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

#brand .container p {
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
    margin-bottom: 3rem;
}

#brand .container .four__brands,
#brand .container .two_brands {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand .container .four__brands {
    margin-bottom: 2rem;
}

#brand .container .four__brands img {
    margin-right: 1rem;
}

#brand .container .two_brands .zoom{
    width: 30%;
}




/* Feature Section */

#feature {
    padding: 3rem 14rem;
    display: flex;
    justify-content: center;
}

#feature .container {
    width: 100%;
    max-width: 1080px;
}

#feature .container .ist__box {
    width: 50%;
    margin-top: 1rem;
}

#feature .container .ist__box h2 {
    width: 90%;
    color: var(--dark);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

#feature .container .ist__box p {
    color: var(--dark);
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.6;
}

#feature .wrapper {
    width: 100%;
}


#feature .wrapper .inner__box {
    width: 100%;
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}


#feature .wrapper .inner__box .f__image {
    width: 40%;
}

#feature .wrapper .f__box .f__image img {
    width: 100%;
}

#feature .wrapper .inner__box .f__details {
    width: 55%;
}

#feature .wrapper .inner__box .f__details span {
    color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#feature .wrapper .inner__box .f__details h2 {
    margin-top: 1rem;
    color: var(--dark);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#feature .wrapper .inner__box .f__details p {
    margin-top: 2rem;
    color: rgb(94, 108, 132);
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
    letter-spacing: .5px;
}

#feature .wrapper .inner__box .f__details strong {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
    cursor: pointer;
}




/* Email Section */

#email {
    padding: 3rem 14rem;
    display: flex;
    justify-content: center;
    
}

#email .container {
    width: 100%;
    max-width: 1080px;
    background: linear-gradient(rgb(64, 50, 148), rgb(76, 154, 255)) no-repeat;
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 8px;
}

#email .container h2 {
    color: var(--pure);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#email .container .email-content {
    margin-top: 2rem;
}

#email .container .email-content input {
    padding: 1rem 12rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
}

#email .container .email-content input:focus {  
    outline: none;
}

#email .container .email-content button {
    background-color: var(--light);
}

#email .container .email-content button a {
    color: var(--dark);
    font-weight: 400;
}



/* Store Section */

#store {
    padding: 3rem 14rem;
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
}

#store .container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(94, 108, 132);
    font-size: .8rem;
}

#store .container .app__store img,
#store .container .google__play img {
    width: 170px;
    margin-left: 2rem;
}


/* Footer Section */

#footer {
    padding: 0rem 14rem;
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--pure);
}

#footer .container {
    width: 100%;
    max-width: 1080px;
}

#footer .container .ist__box {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--secondary);
}

#footer .container .ist__box .box {
    width: 200px;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#footer .container .ist__box .box:hover {
    background-color: rgb(88, 88, 88);
}


#footer .container .ist__box .box h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

#footer .container .ist__box .box a {
    color: var(--light);
   padding-top: 1rem;
   margin-left: .5rem;
}

#footer .container .ist__box .box p {
    margin-top: 1rem;
    font-size: .8rem;
    line-height: 1.6;
}

#footer .container .second__box {
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    padding: 1.5rem 0;
}

#footer .container .second__box a {
    color: var(--pure);
}

#footer .container .second__box .globe i,
#footer .container .second__box .globe a {
    margin-right: 1rem;
}

#footer .container .second__box .privacy_terms {
    display: flex;
}

#footer .container .second__box .privacy_terms a {
    margin-right: 1rem;
    transition: all 0.3s ;
}

#footer .container .second__box .privacy_terms a:hover {
    text-decoration: underline;
}

#footer .container .second__box a {
    margin-right: 1rem;
}






/* --------------- Media Queries --------------- */


/* Ipad Device */

@media (max-width:991px) {

    .padding {
        padding: 0 1rem;
    }

    header .wrapper #info,
    #login {
        display: none;
    }

    #bars {
        display: block;
    }

    #bars.hide {
        display: none;
    }

    #close {
        display: block;
    }

    .wrapper__2 {
        display: block;
    }

    header .wrapper .hamburger {
        width: 524px;
    }

    #header {
        position: relative;
        justify-content: flex-start;
        width: 100vw;
        max-width: 553px ;
    }
    
    #header .b__box.padding {
        padding: 0 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    header {
        width: 100%;
        max-width: 553px;
        min-width: 540px;
        padding: 1em 0;
        text-align: start;

    }

    .wrapper {
        width: 100%;
    }

    .wrapper .hamburger h2 {
        font-size: 1.9rem;
        margin-right: 0;
    }

    .wrapper .hamburger {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    header .wrapper h2 a {
        color: var(--dark);
        margin-left: .5rem;
    }

    .wrapper .hamburger i {
        cursor: pointer;
    }

    .wrapper__2 {
        position: fixed;
        top: -687px;
        width: 554px;
        height: 67vh;
        padding: 1em 1.4em;
        background-color: var(--pure);
        transition: 0.5s;
    }

    .wrapper__2.active {
        top: 55px;
    }
    .xmark {
        position: absolute;
        top: -32px;
        margin-left: 485px;
    }

    #navbar2 li {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--secondary);
        padding: 1rem 0;
        font-size: 1.5rem;
        color: var(--dark);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #navbar2 li a {
        color: var(--dark);
    }

    #navbar2 .getlogin {
        width: 100%;
        display: flex;
        justify-content: center;

    }
    
    #navbar2 .getlogin a {
        color: var(--light);
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #navbar2 .fh__get {
        background-color: var(--primary);
        margin: 1rem 0;
        border-radius: 5px;
    }

    #navbar2 .fh_login {
        border: 1px solid var(--primary);
        border-radius: 5px;
    }

    #navbar2 .fh_login a {
        color: var(--dark);
    }

    

    /* Hero Section */

    #hero {
        width: 553px;
        padding: 0 1rem;
        justify-content: center;
    }

    #hero .container {
        width: 100%;
        max-width: 553px;
        min-width: 536px;
    }

    #hero .container .left {
        width: 50%;
        padding: 3em 0;
    }

    #hero .container .left h1 {
        font-size: 2rem;
    }

    #hero .container .left p {
        font-size: 1rem;
        margin-top: .5rem;
    }

    button {
        padding: 1em 1em;
    }

    #hero .container .right {
        padding: 3em 0;
    }

    #hero .container .right .hero__image {
        width: 60%;
    }

    #hero .container .right .hero__image img {
        margin-left: 5.5rem;
    }

    #hero .container .left .email input {
        width: 150%;
        margin-bottom: 1.2rem;
    }

    #hero .container .left .video__div {
        margin-top: 1rem;
    }



    /* Discover Section */

    #discover {
        width: 553px;
        padding: 0 1rem;
        justify-content: flex-start;
    }

    #discover .wrapper {
        width: 100%;
        max-width: 553px;
        flex-direction: column;

    }

    #discover .wrapper .box {
        width: 100%;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    #discover .wrapper .box .icon {
        width: 20%;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    #discover .wrapper .box .details span {
        white-space: nowrap;
    }

    #discover .wrapper .box .details p {
        width: 440px;
    }




    /* Call to Action */

    #call_to_action {
        padding: 0 1rem;
        width: 553px;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    #call_to_action .container {
        width: 100%;
        max-width: 553px;
        padding-top: 5rem;
    }

    #call_to_action .container h2 {
        font-size: 1.7rem;
    }

    #call_to_action .container p {
        font-size: 1rem;
    }




    /* Brand Section */

    #brand {
        width: 553px;
        padding: 0 1rem;
    }

    #brand .container {
        width: 100%;
        max-width: 553px;
    }

    #brand .b_companies {
        width: 100%;
        max-width: 553px;
    }

    #brand .container .four__brands {
        margin-bottom: .2rem;
    }

    #brand .container .four__brands, #brand .container .two_brands {
        flex-wrap: wrap;
    }

    #brand .container .four__brands img {
        width: 29%;
    }




    /* Feature Section */

    #feature {
        width: 553px;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
    }

    #feature .container {
        width: 100%;
        max-width: 553px;
    }

    #feature .wrapper .inner__box {
        margin-top: 5rem;;
    }

    #feature .container .ist__box h2 {
        width: 400px;
    }

    #feature .f__image .web__img {
        width: 230px;
    }

    #feature .container .ist__box p {
        font-size: 1rem;
       width: 280px;
    }

    #feature .wrapper .inner__box .f__details h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem
    }

    #feature .wrapper .inner__box .f__details p {
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    
    #feature .wrapper .inner__box .f__details strong {
        font-size: 1.2rem;
    }




    /* Email Section */

    #email {
        width: 553px;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
    }

    #email .container {
        width: 100%;
        max-width: 553px;
        padding: 2rem 2rem;
    }

    #email .container h2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
    }

    #email .container .email-content {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    #email .container .email-content input {
        padding: 1rem 8rem;
        padding-left: 1rem;
        
    }


    /* Store Section */

    #store {
        width: 553px;
        padding: 3rem 1rem;
    }

    #store .container {
        width: 100%;
        max-width: 553px;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #store .container h2 {
        margin-bottom: 2rem;
    }

    #store .container .app__store img, #store .container .google__play img {
        width: 160px;
    }

    #store .container .app__store img, #store .container .google__play img {
        margin-left: 1rem;
    }

    #store .container .app__store img {
        margin-left: 0;
    }



    /* Footer Section */

    #footer {
        width: 553px;
        padding: 0rem 1rem;
    }

    #footer .container {
        width: 100%;
        max-width: 553px;
    }

    #footer .container .ist__box {
        flex-direction: column;
        border-bottom: none;
    }

    #footer .container .ist__box .box {
        width: 100%;
        border-bottom: 1px solid #fff;
        padding: 1rem 0rem;
    }

    .space__between {
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }

    #footer .container .ist__box .box a {
        font-size: 1.5rem;
        padding-top: 0rem;
    }

    #footer .container .second__box {
        flex-direction: column;
        padding: 1rem 0;
    }

    #footer .container .second__box .privacy_terms {
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    #footer .container .second__box .privacy_terms a {
        margin-bottom: .5rem;
    }

    #footer .container .second__box .social__media {
        display: flex;
        justify-content: center;
    }


}




/* Mobile Device */

@media (max-width: 480px) {

    /* Navigation Section */

    .wrapper__2 {
        top: 0;
        position: fixed;
        top: -687px;
        width: 266px;
        height: 67vh;
        padding: 1em 0.5em;
        background-color: var(--pure);
        transition: 0.5s;
    }

    .wrapper__2.active {
        top: 36px;
    }

    .xmark {
        margin-left: 227px;
    }

    #navbar2 li {
        font-size: 1rem;
        font-weight: 500;
    }

    #navbar2 li:nth-child(5) {
        border-bottom: .5px solid var(--secondary);
        
    }



    /* Header Section */

    #header {
        top: 0;
        position: fixed;
        width: 100vw;
        max-width: 266px;
        justify-content: center;
    }

    #header .b__box.padding {
        padding: 0.5em 1rem;
    }

    header {
        width: 100%;
        max-width: 266px;
        min-width: 253px;
        padding: 0em 0;
    }

    header .wrapper .hamburger {
        width: 252px;
    }

    header .wrapper h2 a {
        color: var(--dark);
        margin-left: 0rem;
    }

    .wrapper .hamburger h2 {
        font-size: 1.5rem;
    }





    /* Hero Section */

    #hero {
        width: 266px;
        padding: 0 1rem;
        justify-content: center;
        margin-top: 3rem;
    }

    #hero .container {
        width: 100%;
        max-width: 266px;
        min-width: 256px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    #hero .container .right {
        width: 100%;
        padding: 2em 0;
        display: flex;
        justify-content: center;
    }

    #hero .container .right .hero__image img {
        margin-left: 0rem;
    }

    #hero .container .left {
        width: 100%;
        padding: 0em 0;
        justify-content: center;
        text-align: center;
    }

    #hero .container .left h1 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    #hero .container .left p {
        font-size: .9rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    #hero .container .left .email input {
        display: none;
    }

    #hero .email {
        padding: 0 .5rem;
    }

    button {
        padding: 1em 4em;
        white-space: nowrap;
    }

    #hero .container .left .video__div {
        font-size: 1rem;
        margin-bottom: 4rem;
    }



    /* Discover Section */

    #discover {
        width: 266px;
    }

    #discover .wrapper {
        width: 100%;
        max-width: 266px;
        padding-top: 3rem;
        padding-bottom: 0rem;
    }

    #discover .wrapper .box .details span {
        font-size: 1.1rem;
    }

    #discover .wrapper .box .details p {
        width: 100%;
    }

    #discover .wrapper .box .details p {
        font-size: .8rem;
    }

    button {
        padding: 1em 1em;
    }

    button a {
        font-size: .8rem;
    }



    /* Call-to-action Section */

    #call_to_action {
        width: 266px;
    }

    #call_to_action .container {
        max-width: 266px;
        padding-top: 3rem;
    }

    #call_to_action .container h2 {
        font-size: 1rem;
    }

    #call_to_action .container p {
        font-size: .8rem;
    }



    /* Brand Section */

    #brand {
        width: 266px;
    }

    #brand .container {
        max-width: 266px;
        padding: 0 0;
    }

    #brand .container p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    #brand .container .four__brands, #brand .container .two_brands {
        flex-direction: column;
    }

    #brand .container .four__brands img {
        width: 40%;
    }

    #brand .container .two_brands .zoom {
        width: 40%;
    }



    /* Feature Section */

    #feature {
        width: 266px;
    }

    #feature .container {
        max-width: 266px;
    }

    #feature .container .ist__box {
        width: 100%;
    }

    #feature .container .ist__box h2 {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    #feature .container .ist__box h2 {
        width: 100%;
        font-size: 1.2rem;
    }

    #feature .container .ist__box p {
        width: 100%;
        font-size: .8rem;
        font-weight: 400;
    }

    #feature .wrapper .inner__box {
        flex-direction: column;
        margin-top: 4rem;
    }

    #feature .wrapper .reverse_box {
        flex-direction: column-reverse;
    } 

    #feature .wrapper .inner__box .f__image {
        width: 100%;
    }

    #feature .wrapper .inner__box .f__details {
        width: 100%;
    }

    #feature .wrapper .inner__box .f__details span {
        font-size: .8rem;
        font-weight: 500;
    }

    #feature .wrapper .inner__box .f__details h2 {
        font-size: 1rem;
    }

    #feature .wrapper .inner__box .f__details p {
        margin-top: .8rem;
        font-size: .9rem;
        margin-bottom: 1.1rem;
    }

    #feature .wrapper .inner__box .f__details strong {
        font-size: 1rem;
    }




    /* Email Section */

    #email {
        width: 266px;
    }

    #email .container {
        max-width: 266px;
    }

    #email .container .email-content input {
        display: none;
    }

    button {
        padding: 1em 5em;
    }




}